body{
    text-align: center;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container
{
    width:70%;
    padding:1em;
    text-align:left;
    border:1px solid #ddd;
    margin:0 auto
}
#container h1{
        font-size:20px
    }
#cabecera{
    background-color: pink;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline
{
    padding:0 0 0 1em;
    font-weight:400;
    font-size:.8em
}